In [24]:
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [25]:
data=pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/balance-scale/balance-scale.data',sep=',',header=None)
data

     0  1  2  3  4
0    B  1  1  1  1
1    R  1  1  1  2
2    R  1  1  1  3
3    R  1  1  1  4
4    R  1  1  1  5
5    R  1  1  2  1
6    R  1  1  2  2
7    R  1  1  2  3
8    R  1  1  2  4
9    R  1  1  2  5
10   R  1  1  3  1
11   R  1  1  3  2
12   R  1  1  3  3
13   R  1  1  3  4
14   R  1  1  3  5
15   R  1  1  4  1
16   R  1  1  4  2
17   R  1  1  4  3
18   R  1  1  4  4
19   R  1  1  4  5
20   R  1  1  5  1
21   R  1  1  5  2
22   R  1  1  5  3
23   R  1  1  5  4
24   R  1  1  5  5
25   L  1  2  1  1
26   B  1  2  1  2
27   R  1  2  1  3
28   R  1  2  1  4
29   R  1  2  1  5
..  .. .. .. .. ..
595  L  5  4  5  1
596  L  5  4  5  2
597  L  5  4  5  3
598  B  5  4  5  4
599  R  5  4  5  5
600  L  5  5  1  1
601  L  5  5  1  2
602  L  5  5  1  3
603  L  5  5  1  4
604  L  5  5  1  5
605  L  5  5  2  1
606  L  5  5  2  2
607  L  5  5  2  3
608  L  5  5  2  4
609  L  5  5  2  5
610  L  5  5  3  1
611  L  5  5  3  2
612  L  5  5  3  3
613  L  5  5  3  4
614  L  5  5  3  5
615  L  5  5  4  1
616  L  5  5  4  2
617  L  5  5  4  3
618  L  5  5  4  4
619  L  5  5  4  5
620  L  5  5  5  1
621  L  5  5  5  2
622  L  5  5  5  3
623  L  5  5  5  4
624  B  5  5  5  5

[625 rows x 5 columns]

In [26]:
colnames=['Class Name','Left-Weight', 'Left-Distance','Right-Weight','Right-Distance'] 
data = pd.read_csv('http://archive.ics.uci.edu/ml/machine-learning-databases/balance-scale/balance-scale.data', names=colnames, header=None)
data.head()

  Class Name  Left-Weight  Left-Distance  Right-Weight  Right-Distance
0          B            1              1             1               1
1          R            1              1             1               2
2          R            1              1             1               3
3          R            1              1             1               4
4          R            1              1             1               5

In [27]:
data.isnull().sum()

Class Name        0
Left-Weight       0
Left-Distance     0
Right-Weight      0
Right-Distance    0
dtype: int64

In [28]:
#changing class name to numeric
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
data['Class Name']=le.fit_transform(data['Class Name'].astype(str))

In [29]:
data.head()

   Class Name  Left-Weight  Left-Distance  Right-Weight  Right-Distance
0           0            1              1             1               1
1           2            1              1             1               2
2           2            1              1             1               3
3           2            1              1             1               4
4           2            1              1             1               5

In [30]:
x=data.iloc[:,1:]
y=data.iloc[:,0]
print(x.shape)
print(y.shape)

(625, 4)
(625,)

In [31]:
x.head()

   Left-Weight  Left-Distance  Right-Weight  Right-Distance
0            1              1             1               1
1            1              1             1               2
2            1              1             1               3
3            1              1             1               4
4            1              1             1               5

In [32]:
y.head()

0    0
1    2
2    2
3    2
4    2
Name: Class Name, dtype: int32

In [33]:
#splitting data into training and testing sets
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=1)

In [34]:
#Using classification (categorical data)
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import classification_report, accuracy_score, confusion_matrix
mnb=MultinomialNB()
mnb.fit(x_train,y_train)
y_pred=mnb.predict(x_test)
print(accuracy_score(y_test,y_pred)*100)
print(confusion_matrix(y_test,y_pred))
print(classification_report(y_test,y_pred))

88.53503184713377
[[ 0  0 13]
 [ 0 71  3]
 [ 0  2 68]]
              precision    recall  f1-score   support

           0       0.00      0.00      0.00        13
           1       0.97      0.96      0.97        74
           2       0.81      0.97      0.88        70

    accuracy                           0.89       157
   macro avg       0.59      0.64      0.62       157
weighted avg       0.82      0.89      0.85       157

In [39]:
from sklearn.tree import DecisionTreeClassifier
dtc=DecisionTreeClassifier()
dtc.fit(x_train,y_train)
y_pred=dtc.predict(x_test)
print(accuracy_score(y_test,y_pred)*100)
print(confusion_matrix(y_test,y_pred))
print(classification_report(y_test,y_pred))

75.79617834394905
[[ 0  7  6]
 [11 60  3]
 [ 6  5 59]]
              precision    recall  f1-score   support

           0       0.00      0.00      0.00        13
           1       0.83      0.81      0.82        74
           2       0.87      0.84      0.86        70

    accuracy                           0.76       157
   macro avg       0.57      0.55      0.56       157
weighted avg       0.78      0.76      0.77       157

In [40]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier()
knn.fit(x_train,y_train)
y_pred=knn.predict(x_test)
print(accuracy_score(y_test,y_pred)*100)
print(confusion_matrix(y_test,y_pred))
print(classification_report(y_test,y_pred))

84.07643312101911
[[ 1  3  9]
 [ 3 68  3]
 [ 3  4 63]]
              precision    recall  f1-score   support

           0       0.14      0.08      0.10        13
           1       0.91      0.92      0.91        74
           2       0.84      0.90      0.87        70

    accuracy                           0.84       157
   macro avg       0.63      0.63      0.63       157
weighted avg       0.81      0.84      0.83       157

In [41]:
from sklearn.svm import SVC
svc=SVC(kernel='rbf')
svc.fit(x_train,y_train)
y_pred=svc.predict(x_test)
print(accuracy_score(y_test,y_pred)*100)
print(confusion_matrix(y_test,y_pred))
print(classification_report(y_test,y_pred))

88.53503184713377
[[ 0  4  9]
 [ 0 71  3]
 [ 0  2 68]]
              precision    recall  f1-score   support

           0       0.00      0.00      0.00        13
           1       0.92      0.96      0.94        74
           2       0.85      0.97      0.91        70

    accuracy                           0.89       157
   macro avg       0.59      0.64      0.62       157
weighted avg       0.81      0.89      0.85       157

In [42]:
from sklearn.svm import SVC
svc=SVC(kernel='poly')
svc.fit(x_train,y_train)
y_pred=svc.predict(x_test)
print(accuracy_score(y_test,y_pred)*100)
print(confusion_matrix(y_test,y_pred))
print(classification_report(y_test,y_pred))

100.0
[[13  0  0]
 [ 0 74  0]
 [ 0  0 70]]
              precision    recall  f1-score   support

           0       1.00      1.00      1.00        13
           1       1.00      1.00      1.00        74
           2       1.00      1.00      1.00        70

    accuracy                           1.00       157
   macro avg       1.00      1.00      1.00       157
weighted avg       1.00      1.00      1.00       157